 *{
    line-height:40px; 
}
.header{
    display: flex;
    height: 150px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title_session{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #66c;
    color: #fff;
}

table  {
    border-spacing: 10px 12px;
}
.card-title{
    display: flex;
    justify-content: center; 
    padding: 20px;
    color: #66c;
    
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}
input{
    border: 1px solid #66c !important;
}